# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Flask specific
instance/
.flaskenv

# Scrapy specific
.scrapy

# Sphinx documentation
docs/_build/
build/doctrees/
build/html/

# Pyre type checker
.pyre/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# dotenv
.env
.env.local
.env.*.local

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node specific (if using React frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env
.env.local
